.setup {
    height: 80vh;
    .box {
        height: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
        width: 50%;
        & div {
            height: 100%;
        }
        .canvas {
            height: 50%;
            position: relative;
        }
    }
}